@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fff9e6; /* 黄色基調の背景色 */
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff; /* ホワイト背景 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: 15px;
}

.title {
  display: flex;
  justify-content: center; /* 中央揃え */
  align-items: center; /* 縦方向の中央揃え */
  width: 100%;
  font-size: 48px; /* 大きなフォントサイズ */
  font-weight: bold; /* 太字にして目立たせる */
  color: orange;
  margin: 20px 0; /* 上下の余白を追加 */
}


.container-title{
  font-size:150%;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
}

@media (max-width: 600px) {
  .container {
    width: 80%; /* 幅を90%にして左右に余白を確保 */
    margin: 10px auto; /* 自動で左右のマージンを設定 */
  }

  .title {
    font-size: 36px; /* フォントサイズを小さく */
  }
}